*{
    padding:0%;
    margin: 0%;
}
body{
    font-family: "SN Pro", sans-serif;
    text-align: center;
    align-items: center;
}

.container{
   
    padding: 10px;
    margin: 10px;
}

.title{
     display: flex;
    margin-top: 80px;
    justify-content: center;


}
.title h1{
     background-color: pink;
     width: 86%;
      padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 36px;   
}
.subs-card{
    padding: 3px;
   
      margin-left: 0%;
      padding-top: 25px;
    
      display: flex;
      justify-content:space-evenly;
      align-items: center;
    
      
}
.subs-card_one{
     background-color: black;
    color: white;
    width: 16%;
      height: 285px;
        border-radius: 16px;
      

}
.subs-card_one h1,h2{
    padding: 2px;
    margin: 1px;
}
.subs-card_one ul{
    border: solid white 3px;
    border-radius: 10px;
    box-sizing: content-box;
    text-align: left;
    width:86%;
    margin: 10px;
    
}
.subs-card_two{
     background-color: black;
    color: white;
    width: 16%;
      height: 285px;
        border-radius: 16px;
      

}
.subs-card_two h1,h2{
    padding: 2px;
    margin: 1px;
}
.subs-card_two ul{
    border: solid white 3px;
    border-radius: 10px;
    box-sizing: content-box;
    text-align: left;
    width:86%;
    margin: 10px;
    
}
.subs-card_three{
     background-color: black;
    color: white;
    width: 16%;
      height: 285px;
        border-radius: 16px;
      

}
.subs-card_three h1,h2{
    padding: 2px;
    margin: 1px;
}
.subs-card_three ul{
    border: solid white 3px;
    border-radius: 10px;
    box-sizing: content-box;
    text-align: left;
    width:86%;
    margin: 10px;
    
}
